apiVersion: v1
kind: Service
metadata:
  name: podinfo
spec:
  type: ClusterIP
  selector:
    app: podinfo
  ports:
    - name: http
      port: 7898
      protocol: TCP
      targetPort: http
    - port: 7999
      targetPort: grpc
      protocol: TCP
      name: grpc
